:root {
    --background: #ffffff;

    --gray-50: rgb(249 250 251);
    --gray-100: rgb(243 244 246);
    --gray-200: rgb(229 231 235);
    --gray-300: rgb(209 213 219);
    --gray-400: rgb(156 163 175);
    --gray-500: rgb(107 114 128);
    --gray-600: rgb(75 85 99);
    --gray-700: rgb(55 65 81);
    --gray-800: rgb(31 41 55);
    --gray-900: rgb(17 24 39);
    --gray-950: rgb(3 7 18);
  
    --red-500: #ff4158;
    --red-300: #fe6678;
    --red-150: #fee5e3;
    --red-50: #fff5f7;
  
    --green-500: #32af6a;
    --green-300: #64bb8b;
    --green-150: #caeed0;
    --green-50: #dbf8e8;
  
    --yellow-500: #f2bf2e;
    --yellow-300: #febc50;
    --yellow-150: #f0e7c8;
    --yellow-50: #fef8e6;
  
    --blue-500: #2a85ff;
    --blue-300: #cae0ff;
    --blue-50: #e9f3ff;

    // TODO: clean up values
  
    // --shadow-gray-50: 0px 0px 0px 2px var(--gray-50);
    // --shadow-gray-900: 0px 8px 12px 0px rgba(4, 3, 3, 0.03);
    // --shadow-red-50: 0px 0px 0px 2px var(--red-50);
    }